/*
*  Simple CSS
*/
body {
    margin: auto;
    width : 65em;
    background: lightgray;
}


header {
    background-position: center;
    background-image:  url(../resources/img/testbanner.jpg);
}

header h1{  
    padding-top: 0.5em;
    font-size: 60px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    color: black;
    text-align: left;
    vertical-align: middle;
}

body h2{  
    font-size: 30px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    color: black;
}


#error {
    color:  red;
}

.loginButton {
    float:left; 
    height:22px;
    font-size: 10px;
}

.loggedUser {
    float:right; 
    height:22px;
    font-size: 10px;
    color: white;
}
.noborder .ui-widget-content {
border: none;
}
